@page "/castles"
@page "/"
@using System.Text.Json
@using global::Castles.Entities
@rendermode InteractiveWebAssembly
@inject HttpClient _httpClient
@inject NavigationManager NavManager


<AntList DataSource="@_data" ItemLayout="@ListItemLayout.Vertical" Split>
    <ChildContent Context="item">
        <ListItem OnClick="() => OnItemClicked(item?.Id)">
            <ListItemMeta Description="@item.Description">
                <AvatarTemplate>
                    @avatar
                </AvatarTemplate>
                <TitleTemplate>
                    <a href="/castle/@item.Id">@item.Name</a>
                </TitleTemplate>
            </ListItemMeta>
        </ListItem>
    </ChildContent>
</AntList>

@code {
    private List<Castle> _data = [];

    RenderFragment avatar = @<Image Width="300px" 
                                    Height="auto"
                                    Preview="false"
                                    Src="https://www.onthegotours.com/repository/Conwy-Castle-Wales-830041705508083.jpg"/>;


    protected override async Task OnParametersSetAsync()
    {
        var responseMessage = await _httpClient.GetAsync("api/castles");
        if (responseMessage.IsSuccessStatusCode)
        {
            var content = await responseMessage.Content.ReadAsStringAsync();
            _data = JsonSerializer.Deserialize<List<Castle>>(content, new JsonSerializerOptions()
            {
                PropertyNameCaseInsensitive = true
            });
        }
    }

    private void OnItemClicked(Guid? castleId)
    {
        if (castleId == null)
        {
           return;
        }
        NavManager.NavigateTo($"castle/{castleId}");
    }

}