@using AntDesign
@inherits LayoutComponentBase

<Layout Class="layout">
    <Header class="headers">
        <div class="logo" />
        <Menu Class="main-headers" Theme="MenuTheme.Dark" Mode="MenuMode.Horizontal">
            <MenuItem RouterLink="/" Key="1">Замки</MenuItem>
            <MenuItem RouterLink="/castle-create" Key="2">Создать замок</MenuItem>
        </Menu>
        <Menu Class="external-headers" Theme="MenuTheme.Dark" Mode="MenuMode.Horizontal">
            <MenuItem RouterLink="/change-castles" Key="1">Админка</MenuItem>
        </Menu>
    </Header>
    <Content Class="site-layout-content" Style="padding: 0 50px;">
        <div class="site-layout-content" style="padding: 24px;">
            @Body
        </div>
    </Content>
</Layout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<style>
    .site-layout-content {
        background: #fff;
        height: 100%;
    }
    #components-layout-demo-top .logo {
        width: 120px;
        height: 31px;
        background: rgba(255, 255, 255, 0.2);
        margin: 16px 24px 16px 0;
        float: left;
    }

    .headers {
        display: flex;
        flex-direction: row;
    }
    
    .external-headers{
        margin-left: auto;
    }
</style>